/*
Copyright 2023 The Mustermänner Team. All rights reserved.
SPDX-License-Identifier: Apache-2.0
*/

.card {
  width: 300px;
  height: 400px;
  float: left;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    height: auto;
    float: none;
    display: flex;
    flex-direction: column;
  }
}
