/*
Copyright 2023 The Mustermänner Team. All rights reserved.
SPDX-License-Identifier: Apache-2.0
*/
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.item {
  grid-column: 4;
}
/* styles for mobile view */
@media (max-width: 640px) {
  .my-data-grid {
    /* make the grid full width on mobile */
    width: 100px;
  }

  /* reduce the font size of the cell content */
  .x-data-grid-cell-content {
    font-size: 14px;
  }
}
